{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <p>By {{ post.author.username }} on {{ post.created_at|date:"F j, Y, g:i a" }}</p>
  <div>
    {{ post.content|linebreaks }}
  </div>

  {% if request.user == post.author %}
    <p>
      <a href="{% url 'post-update' post.pk %}">Edit</a> |
      <a href="{% url 'post-delete' post.pk %}">Delete</a>
    </p>
  {% endif %}

  <p><a href="{% url 'posts' %}">Back to posts</a></p>
</article>
{% endblock %}
